#
 version 7.1.045, Release 2432P05
#
 sysname {{ out_hostname }}
#
 clock timezone Beijing add 08:00:00
#
 irf mac-address persistent timer
 irf auto-update enable
 undo irf link-delay
 irf member 1 priority 1
 irf mode normal
#
{#OSPF#}
ospf 1 router-id {{data.api_json.node_list[0].isp[0].gw}}
 area 0.0.0.0
  network {{data.api_json.node_list[0].isp[0].gw}} 0.0.0.0
#
ospfv3 1
 router-id {{data.api_json.node_list[0].isp[0].gw}}
 area 0.0.0.0
{#OSPF#}
#
 undo ip load-sharing local-first enable
 ip load-sharing mode per-flow dest-ip src-ip ip-pro dest-port src-port
#
 lldp global enable
#
 system-working-mode standard
 fan prefer-direction slot 1 port-to-power
 password-recovery enable
#
vlan 1
 name EX-ILO-Vlan
 description EX-ILO-Vlan
#
vlan 10
 name EX-Sevice-Vlan
 description EX-Sevice-Vlan
#
vlan 20
 name IN-Sevice-Vlan
 description IN-Sevice-Vlan
#
traffic classifier match-hpri-traffic operator and
 if-match acl 3066
#
traffic behavior remark-hpri-lp5
 remark local-precedence 5
#
qos policy remark-hpri-traffic
 classifier match-hpri-traffic behavior remark-hpri-lp5
#
 stp global enable
#
{# 聚合口配置 #}
{% if out_switch.to_iin and out_switch.to_iin != '' %}
interface AggregatePort 99
 port link-type trunk
 port trunk permit vlan 1 10 20
 link-aggregation mode dynamic
 stp edged-port
{% endif %}
{# 聚合口配置结束 #}
#
interface NULL0
#
{#interface vlan相关配置#}
interface Vlan-interface1
 ip address {{data.api_json.node_list[0].ext.ilo_gw[0]}} {{data.api_json.node_list[0].ext.ilo_netmask[0]}}
#
{% if out_switch.out_ip is defined and out_switch.out_ip and out_switch.out_ip != '' %}
interface Vlan-interface10
 description EX-Sevice-GW
 ip address {{ out_switch.out_ip }} {{ data.api_json.new_server_list[0].isp[0].netmask }}
{% if out_switch.ipv6_ip is defined and out_switch.ipv6_ip and out_switch.ipv6_ip != '' %}
 ipv6 address {{ out_switch.ipv6_ip }}/{{ data.api_json.new_server_list[0].isp[0].ipv6_mask }}
 ospfv3 1 area 0.0.0.0
{% endif %}
{% endif %}
#
{% if out_switch.in_ip is defined and out_switch.in_ip and out_switch.in_ip != '' %}
interface Vlan-interface20
 description IN-Sevice-GW
 ip address {{ out_switch.in_ip }} {{data.api_json.node_list[0].ext.in_netmask}}
{% endif %}
{#interface vlan相关配置#}
#
{#全端口配置开始#}
{# 遍历49-56口：FortyGigE1/0/49 到 1/0/54 #}
{% for port_num in range(49, 55) %}
{% set port_name = 'FortyGigE1/0/' ~ port_num %}
interface {{ port_name }}
{% set ns = namespace(is_upper=false) %}
{% for upper in data.api_json.new_upper_list %}
{% if upper.switch_port == port_name %}
{% set ns.is_upper = true %}
 port link-mode route
 description TO_ISP
{% set upper_ip_addr = upper.ip.split('/')[0] %}
 ip address {{ upper_ip_addr }} 255.255.255.252
 packet-filter ipv6 3007 inbound
 packet-filter 3001 inbound
 qos wfq byte-count
 qos wfq af2 group 1 byte-count 5
 qos wfq af3 group 1 byte-count 15
 qos wfq ef group sp
 qos bandwidth queue af3 min 2200000
 qos bandwidth queue ef min 2000000
{% if upper.ipv6 %}
 ipv6 address {{ upper.ipv6 }}
{% endif %}
{% endif %}
{% endfor %}
#
{% endfor %}
interface M-GigabitEthernet0/0/0
#
{% for port_num in range(1, 49) %}
{% set port_name = 'Ten-GigabitEthernet1/0/' ~ port_num %}
interface {{ port_name }}

{# 判断1：是否为上联口 upper_list #}
{% set ns = namespace(is_upper=false, is_server_port=false) %}
{% for upper in data.api_json.new_upper_list %}
{% if upper.switch_port == port_name %}
{% set ns.is_upper = true %}
 port link-mode route
 description TO_ISP
{% set upper_ip_addr = upper.ip.split('/')[0] %}
 ip address {{ upper_ip_addr }} 255.255.255.252
 packet-filter ipv6 3007 inbound
 packet-filter 3001 inbound
 qos wfq byte-count
 qos wfq af2 group 1 byte-count 5
 qos wfq af3 group 1 byte-count 15
 qos wfq ef group sp
 qos bandwidth queue af3 min 2200000
 qos bandwidth queue ef min 2000000
{% if upper.ipv6 %}
 ipv6 address {{ upper.ipv6 }}
{% endif %}
{% endif %}
{% endfor %}

{# 判断2：非上联口 → 服务器端口 #}
{% if not ns.is_upper %}
{% for server in data.api_json.new_server_list %}
{% if server.switch_port1.sn == out_sn and server.switch_port1.port == port_name %}
{% set ns.is_server_port = true %}
 port link-mode bridge
 port access vlan 10
 stp edged-port
 qos trust dscp
{% elif server.switch_port2.sn == out_sn and server.switch_port2.port == port_name %}
{% set ns.is_server_port = true %}
{% if server.type == 'lvs' %}
 port link-mode bridge
 port access vlan 10
{% else %}
 port link-mode bridge
 port access vlan 20
{% endif %}
 stp edged-port
 qos trust dscp
{% endif %}
{% endfor %}
{% endif %}

{# 判断3：级联口 #}
{% if not ns.is_upper and not ns.is_server_port %}
{% for sw in data.api_json.new_switch_list %}
{% if sw.type == "out" and sw.sn == out_sn %}
{% if sw.to_iin %}
{% for link in sw.to_iin %}
{% if link.src.port == port_name %}
 port link-mode bridge
 description DownLink_{{ in_hostname }}
 port link-type trunk
 port trunk permit vlan 1 10 20
 stp edged-port
 port link-aggregation group 99
{% endif %}
{% endfor %}
{% endif %}
{% if sw.to_mgt %}
{% for link in sw.to_mgt %}
{% if link.src.port == port_name %}
 description {{ mg_hostname }}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
#
{% endfor %}
{#全端口配置结束#}
#
 scheduler logfile size 16
#
line class aux
 user-role network-admin
#
line class vty
 user-role network-operator
#
line aux 0
 user-role network-admin
#
line vty 0 15
 authentication-mode scheme
 user-role network-operator
 protocol inbound ssh
 idle-timeout 60 0
 command authorization
 command accounting
#
line vty 16 63
 user-role network-operator
#
{#路由#}
{% for upper in data.api_json.new_upper_list %}
{% if upper.ipv6 %}
{# IPv6: 根据掩码计算同网段另一个可用地址 /127只有2个地址,交替使用 #}
{% set ipv6_parts = upper.ipv6.split('/') %}
{% set ipv6_addr = ipv6_parts[0] %}
{% set ipv6_mask = ipv6_parts[1]|int %}
{% set last_sep = ipv6_addr.rfind(':') %}
{% set ipv6_prefix = ipv6_addr[:last_sep] %}
{% set ipv6_suffix_hex = ipv6_addr[last_sep+1:] %}
{# 将十六进制后缀转为数字,判断奇偶,交换 #}
{% set suffix_num = ipv6_suffix_hex|int(base=16) %}
{% if suffix_num % 2 == 0 %}
{% set next_suffix = suffix_num + 1 %}
{% else %}
{% set next_suffix = suffix_num - 1 %}
{% endif %}
{% set ipv6_next_hop = ipv6_prefix ~ ':' ~ ('%x' % next_suffix) %}
 ipv6 route-static :: 0 {{ upper.switch_port }} {{ ipv6_next_hop }}
{% endif %}
{% endfor %}
{% for upper in data.api_json.new_upper_list %}
{% if upper.ip %}
{# IPv4: 根据掩码计算同网段另一个可用地址 /30有4个地址,取网络地址+1或+2 #}
{% set ip_parts = upper.ip.split('/') %}
{% set ip_addr = ip_parts[0] %}
{% set ip_mask = ip_parts[1]|int %}
{% set ip_octets = ip_addr.split('.') %}
{% set last_octet = ip_octets[3]|int %}
{# 对于/30网段,有效地址为网络地址+1和+2,本机地址为.2时下一跳为.1 #}
{% if ip_mask == 30 %}
{% if last_octet % 4 == 2 %}
{% set next_hop_last = last_octet - 1 %}
{% else %}
{% set next_hop_last = last_octet + 1 %}
{% endif %}
{% set ip_next_hop = ip_octets[0] ~ '.' ~ ip_octets[1] ~ '.' ~ ip_octets[2] ~ '.' ~ next_hop_last %}
{% else %}
{# 其他掩码的情况,简单处理为+1或-1 #}
{% set ip_next_hop = ip_octets[0] ~ '.' ~ ip_octets[1] ~ '.' ~ ip_octets[2] ~ '.' ~ (last_octet - 1) %}
{% endif %}
 ip route-static 0.0.0.0 0 {{ upper.switch_port }} {{ ip_next_hop }}
{% endif %}
{% endfor %}
{#路由#}
#
 info-center logbuffer size 1024
 info-center loghost source Vlan-interface10
 info-center loghost 183.134.42.44 facility local4
 info-center loghost 183.134.42.45 facility local4
#
 snmp-agent
 snmp-agent local-engineid 800063A280487ADA80977100000001
 snmp-agent community read wpskingsoft
 snmp-agent sys-info version v2c v3
#
 ssh server enable
 ssh server acl 3004
#
 qos vlan-policy remark-hpri-traffic vlan 10 inbound
#
 ntp-service enable
 ntp-service unicast-server 120.92.21.92 source Vlan-interface10
#
acl number 3001 name For-CDN-Service
 rule 95 deny tcp destination-port eq 800
 rule 98 permit udp destination-port eq ntp
 rule 99 permit udp source-port eq dns
 rule 101 permit tcp destination-port range 8000 8107
 rule 102 permit tcp destination-port eq 7582
 rule 103 permit tcp destination-port eq 1935
 rule 105 permit tcp destination-port eq 843
 rule 106 permit tcp destination-port eq 7578
 rule 107 permit tcp destination-port eq 7485
 rule 110 permit tcp destination-port eq www
 rule 120 permit tcp destination-port eq 443
 rule 130 permit ip source 120.131.7.0 0.0.0.255
 rule 131 permit ip source 110.43.193.122 0
 rule 132 permit ip source 110.43.69.105 0
 rule 133 permit ip source 110.43.69.106 0
 rule 134 permit ip source 120.92.128.60 0
 rule 140 permit ip source 120.132.79.0 0.0.0.255
 rule 150 permit ip source 101.71.27.0 0.0.0.255
 rule 160 permit ip source 42.62.61.0 0.0.0.255
 rule 170 permit ip source 42.62.58.0 0.0.0.255
 rule 180 permit ip source 101.251.107.0 0.0.0.255
 rule 190 permit ip source 114.255.44.128 0.0.0.15
 rule 200 permit ip source 219.141.176.224 0.0.0.7
 rule 210 permit ip source 101.71.33.128 0.0.0.127
 rule 220 permit ip source 183.131.21.128 0.0.0.127
 rule 221 permit ip source 223.93.159.173 0
 rule 222 permit ip source 112.13.90.173 0
 rule 223 permit ip source 120.92.128.61 0
 rule 224 permit ip source 120.92.215.38 0
 rule 230 permit ip source 112.84.131.0 0.0.0.255
 rule 241 permit ip source 117.149.3.151 0
 rule 244 permit ip source 172.16.200.0 0.0.0.255
 rule 300 permit ip source {{ data.api_json.node_list[0].isp[0].ip_block | ip_wildcard }}
 rule 350 permit tcp destination-port range 1935 1949
 rule 397 permit ip source 23.91.104.12 0
 rule 400 permit ip source 183.91.54.199 0
 rule 401 permit ip source 183.131.21.252 0
 rule 402 permit ip source 180.97.176.71 0
 rule 403 permit ip source 123.59.39.240 0.0.0.7
 rule 404 permit ip source 120.92.8.224 0.0.0.31
 rule 405 permit ip source 120.92.8.112 0.0.0.7
 rule 406 permit ip source 120.92.71.16 0.0.0.7
 rule 407 permit ip source 120.92.128.224 0.0.0.31
 rule 408 permit ip source 120.92.120.0 0.0.0.15
 rule 409 permit ip source 120.132.79.0 0.0.0.7
 rule 410 permit ip source 120.131.7.192 0.0.0.31
 rule 411 permit ip source 115.231.96.8 0
 rule 412 permit ip source 101.71.42.19 0
 rule 413 permit ip source 101.251.107.240 0.0.0.15
 rule 414 permit ip source 58.220.38.6 0
 rule 415 permit ip source 36.110.160.60 0
 rule 416 permit ip source 111.206.217.60 0
 rule 417 permit ip source 39.155.196.228 0
 rule 418 permit ip source 103.192.253.236 0
 rule 419 permit ip source 112.65.119.124 0
 rule 420 permit ip source 117.131.21.12 0
 rule 422 permit ip source 101.71.19.123 0
 rule 423 permit ip source 183.131.29.123 0
 rule 424 permit ip source 112.84.131.170 0
 rule 425 permit ip source 36.112.24.0 0.0.0.15
 rule 427 permit ip source 120.92.120.100 0
 rule 428 permit ip source 120.92.128.44 0
 rule 430 permit ip source 39.155.196.108 0
 rule 431 permit ip source 117.48.124.71 0
 rule 432 permit ip source 111.202.89.197 0
 rule 433 permit ip source 120.92.36.95 0
 rule 434 permit ip source 120.92.128.37 0
 rule 435 permit ip source 120.92.12.250 0
 rule 436 permit ip source 121.46.235.17 0
 rule 437 permit ip source 58.247.244.65 0
 rule 438 permit ip source 117.186.248.201 0
 rule 439 permit ip source 110.43.80.181 0
 rule 440 permit ip source 120.52.186.165 0
 rule 441 permit ip source 39.156.46.205 0
 rule 442 permit tcp destination-port eq 8342
 rule 443 permit udp source-port eq 1935
 rule 444 permit udp source-port eq 80
 rule 445 permit tcp destination-port eq 8586
 rule 446 permit udp destination-port eq 1935
 rule 447 permit udp destination-port eq 80
 rule 448 permit udp destination-port range 1936 1949
 rule 449 permit udp destination-port range 8080 8093
 rule 450 permit udp source-port range 1936 1949
 rule 451 permit udp source-port range 8080 8093
 rule 452 permit udp destination-port eq 4242
 rule 453 permit udp destination-port eq 4343
 rule 454 permit udp destination-port eq 1934
 rule 455 permit udp source-port eq 1934
 rule 456 permit udp destination-port eq 8079
 rule 457 permit udp source-port eq 8079
 rule 458 permit udp destination-port eq 443
 rule 459 permit tcp destination-port eq 8445
 rule 461 permit tcp destination-port eq 4201
 rule 462 permit tcp destination-port eq 8090
 rule 463 permit tcp destination-port eq 7480
 rule 464 permit tcp destination-port eq 18225
 rule 470 permit tcp destination-port eq 8686
 rule 471 permit tcp destination-port eq 9696
 rule 474 permit tcp source 120.92.215.23 0 destination-port eq 12120
 rule 475 permit tcp destination-port eq 9000
 rule 476 permit tcp destination-port eq 9443
 rule 477 permit ip source 111.31.36.106 0
 rule 478 permit ip source 60.28.198.32 0
 rule 479 permit ip source 110.43.105.181 0
 rule 480 permit ip source 110.43.222.12 0
 rule 481 permit tcp destination-port range 1950 1963
 rule 482 permit tcp destination-port eq 8443
 rule 483 permit ip source 120.92.116.37 0
 rule 484 permit ip source 120.92.93.156 0
 rule 485 permit ip source 120.92.143.19 0
 rule 486 permit ip source 120.92.217.232 0
 rule 487 permit ip source 120.92.21.92 0
 rule 488 permit ip source 120.92.12.202 0
 rule 489 permit tcp destination-port range 1936 1949
 rule 491 permit ip source 59.174.186.16 0.0.0.7
 rule 492 permit ip source 59.174.185.160 0.0.0.15
 rule 493 permit udp destination-port eq 8000
 rule 494 permit udp destination-port eq 8070
 rule 495 permit udp source-port eq 8070
 rule 496 permit tcp destination-port eq 8219
 rule 497 permit tcp destination-port eq 8319
 rule 498 permit ip source 120.92.71.81 0
 rule 499 permit ip source 120.92.8.167 0
 rule 550 permit ip source 218.104.100.64 0.0.0.7
 rule 551 permit udp source-port eq 443
 rule 552 permit ip source 120.92.71.82 0
 rule 553 permit ip source 223.76.125.56 0.0.0.7
 rule 555 permit tcp destination-port eq 8005
 rule 556 permit ip source 104.250.56.44 0
 rule 557 permit ip source 129.227.133.233 0
 rule 558 permit tcp destination-port range 8314 8327
 rule 559 permit tcp destination-port range 8101 8107
 rule 560 permit tcp destination-port range 8300 8313
 rule 561 permit tcp destination-port eq 8888
 rule 562 permit ip source 110.43.128.233 0
 rule 563 permit ip source 180.103.180.177 0
 rule 564 permit ip source 36.150.137.137 0
 rule 565 permit tcp source 120.92.215.73 0 destination-port eq 22
 rule 566 permit ip source 113.57.62.7 0
 rule 567 permit ip source 113.57.62.8 0
 rule 568 permit tcp destination-port eq 5160
 rule 569 permit udp destination-port eq 5160
 rule 572 permit ip source 120.92.198.130 0
 rule 573 permit ip source 111.31.70.114 0
 rule 574 permit ip source 120.92.128.18 0
 rule 575 permit ip source 104.250.53.95 0
 rule 998 permit tcp established
 rule 999 permit icmp
 rule 1000 deny ip
#
acl number 3004 name vty_control
 rule 100 permit icmp
 rule 120 permit ip source 36.112.24.0 0.0.0.15
 rule 160 permit ip source 120.92.215.38 0
 rule 170 permit ip source 120.92.128.61 0
 rule 180 permit ip source 120.253.244.201 0
 rule 190 permit ip source 23.91.104.12 0
 rule 200 permit ip source 121.46.235.17 0
 rule 210 permit ip source 58.247.244.65 0
 rule 220 permit ip source 110.43.80.181 0
 rule 230 permit ip source 120.52.186.165 0
 rule 240 permit ip source 39.156.46.205 0
 rule 260 permit ip source 120.92.143.19 0
 rule 270 permit ip source 172.16.200.0 0.0.0.255
 rule 280 permit ip source 117.186.248.201 0
 rule 290 permit ip source 120.92.116.37 0
 rule 300 permit ip source 120.92.93.156 0
 rule 310 permit ip source 120.92.217.232 0
 rule 320 permit ip source 120.92.21.92 0
 rule 340 permit ip source 59.174.186.16 0.0.0.7
 rule 350 permit ip source 59.174.185.160 0.0.0.15
 rule 360 permit ip source 218.104.100.64 0.0.0.7
 rule 370 permit ip source 223.76.125.56 0.0.0.7
 rule 380 permit ip source 104.250.56.44 0
 rule 390 permit ip source 120.92.12.202 0
 rule 400 permit ip source 113.57.62.7 0
 rule 410 permit ip source 113.57.62.8 0
 rule 1000 deny ip
#
acl number 3066
 rule 10 permit ip destination 111.31.36.225 0
 rule 15 permit ip destination 60.28.198.253 0
 rule 20 permit ip destination 110.43.105.4 0
 rule 25 permit ip destination 110.43.221.130 0
 rule 30 permit ip destination 121.228.170.177 0
 rule 35 permit ip destination 36.150.134.66 0
 rule 40 permit ip destination 120.92.232.109 0
 rule 45 permit ip destination 120.72.43.34 0
 rule 50 permit ip destination 60.28.198.218 0
 rule 55 permit ip destination 110.43.121.212 0
 rule 60 permit ip destination 111.31.36.69 0
 rule 65 permit ip destination 110.43.221.183 0
 rule 70 permit ip destination 110.43.99.231 0
 rule 75 permit ip destination 110.43.222.6 0
 rule 80 permit ip destination 120.52.187.156 0
 rule 85 permit ip destination 111.31.36.6 0
 rule 90 permit ip destination 104.250.33.100 0
 rule 95 permit ip destination 100.89.3.123 0
 rule 100 permit ip destination 110.43.222.175 0
 rule 105 permit ip destination 120.52.187.99 0
 rule 110 permit ip destination 110.43.107.99 0
 rule 115 permit ip destination 111.31.36.9 0
 rule 120 permit ip destination 100.74.129.163 0
 rule 125 permit ip destination 111.31.36.48 0
 rule 130 permit ip destination 110.43.99.161 0
 rule 135 permit ip destination 120.52.189.55 0
 rule 140 permit ip destination 110.43.222.197 0
 rule 145 permit ip destination 100.78.160.175 0
 rule 150 permit ip destination 100.78.160.190 0
 rule 155 permit ip destination 100.78.160.173 0
 rule 160 permit ip destination 110.43.121.63 0
 rule 165 permit ip destination 111.31.36.131 0
 rule 170 permit ip destination 60.28.198.235 0
 rule 180 permit ip destination 121.46.245.223 0
 rule 185 permit ip destination 36.150.134.240 0
 rule 190 permit ip destination 58.247.245.252 0
 rule 195 permit ip destination 111.31.36.106 0
 rule 200 permit ip destination 60.28.198.32 0
 rule 205 permit ip destination 110.43.105.181 0
 rule 210 permit ip destination 110.43.222.12 0
 rule 215 permit ip destination 111.31.36.17 0
 rule 220 permit ip destination 60.28.198.141 0
 rule 225 permit ip destination 110.43.105.149 0
 rule 230 permit ip destination 110.43.222.110 0
 rule 235 permit ip destination 120.92.120.161 0
 rule 240 permit ip destination 112.65.119.114 0
 rule 245 permit ip destination 120.132.79.142 0
 rule 250 permit ip destination 120.132.79.136 0
 rule 255 permit ip destination 101.251.107.252 0
 rule 260 permit ip destination 120.92.8.231 0
 rule 265 permit ip destination 112.84.131.73 0
 rule 270 permit ip destination 183.131.21.238 0
 rule 275 permit ip destination 120.92.231.18 0
 rule 280 permit ip destination 120.92.128.243 0
 rule 285 permit ip destination 180.97.176.83 0
 rule 290 permit ip destination 120.131.7.213 0
 rule 295 permit ip destination 122.70.129.9 0
 rule 300 permit ip destination 117.139.18.9 0
 rule 305 permit ip destination 220.167.102.9 0
 rule 310 permit ip destination 120.192.64.137 0
 rule 315 permit ip destination 42.81.87.9 0
 rule 320 permit ip destination 60.28.125.9 0
 rule 325 permit ip destination 122.228.60.137 0
 rule 330 permit ip destination 113.200.97.9 0
 rule 335 permit ip destination 58.220.38.201 0
 rule 340 permit ip destination 153.99.244.201 0
 rule 345 permit ip destination 120.92.71.35 0
 rule 350 permit ip destination 120.92.215.23 0
 rule 355 permit ip destination 110.43.123.128 0.0.0.31
 rule 360 permit ip destination 58.220.38.230 0
 rule 365 permit ip destination 153.99.244.230 0
#
acl ipv6 number 3007 name IPV6-ACL
 rule 99 permit udp source-port eq dns
 rule 100 permit tcp destination-port range 10050 10052
 rule 101 permit tcp destination-port range 8000 8100
 rule 102 permit tcp destination-port eq 7582
 rule 103 permit tcp destination-port eq 1935
 rule 105 permit tcp destination-port eq 843
 rule 106 permit tcp destination-port eq 7578
 rule 107 permit tcp destination-port eq 7485
 rule 110 permit tcp destination-port eq www
 rule 120 permit tcp destination-port eq 443
 rule 130 permit udp destination-port eq 443
 rule 150 permit udp destination-port eq 80
 rule 160 permit udp destination-port eq 1935
 rule 170 permit udp destination-port eq 8000
 rule 180 permit udp source-port eq 443
 rule 190 permit tcp destination-port eq 9000
 rule 200 permit tcp destination-port eq 9443
 rule 210 permit ipv6 source 2401:1D40:F21:9F0C::392/128
 rule 220 permit ipv6 source 2401:1D40:2F00:8E05::6AC/128
 rule 230 permit ipv6 source 2401:1D40:0:D::1/128
 rule 240 permit udp destination-port eq 8070
 rule 260 permit ipv6 source 2401:1D40:F21:9F0C::44/128
 rule 270 permit ipv6 source 2401:1D40:F21:9F0C::1E4/128
 rule 290 permit ipv6 source 2408:877E:33:16::5/128
 rule 300 permit udp destination-port eq snmp
 rule 310 permit ipv6 source 2409:8C02:210:1112::5/128
 rule 320 permit ipv6 source 240E:928:101:134E::5/128
 rule 330 permit ipv6 source 2401:1D40:2001:B::1/128
 rule 340 permit ipv6 source 2401:1D40:2001:A::1/128
 rule 350 permit tcp destination-port range 8218 8219
 rule 360 permit tcp destination-port range 8318 8319
 rule 370 permit ipv6 source 2409:8C20:5021:154::2/128
 rule 380 permit ipv6 source 2408:873D:1012:403::2/128
 rule 390 permit ipv6 source 240E:978:6409:3::2/128
 rule 998 permit tcp established
 rule 999 permit icmpv6
 rule 1000 deny ipv6
#
 hwtacacs nas-ip {{data.api_json.node_list[0].isp[0].gw}}
#
hwtacacs scheme ksctacacs
 primary authentication 120.92.143.19
 primary authorization 120.92.143.19
 primary accounting 120.92.143.19
 secondary authentication 120.92.21.92
 secondary authorization 120.92.21.92
 secondary accounting 120.92.21.92
 key authentication cipher $c$3$zFO1cBnNF+UqELl15p0TZQItBmuK+UfKC479AUAnDAX5su4=
 key authorization cipher $c$3$ucZ8CI+fAVitYt56OLiHT1jJHpTNrS+yZH2zn15AGMQHgNY=
 key accounting cipher $c$3$FFoAFuud8tzMufn9yuq3fJLb7qj9D/O5/y7l0vFmKZ82Uek=
 user-name-format without-domain
#
radius scheme system
 user-name-format without-domain
#
domain ksc
 authentication login hwtacacs-scheme ksctacacs local
 authorization login hwtacacs-scheme ksctacacs local
 accounting login hwtacacs-scheme ksctacacs local
 authorization command hwtacacs-scheme ksctacacs local
 accounting command hwtacacs-scheme ksctacacs
#
domain system
#
 domain default enable ksc
#
role name level-0
 description Predefined level-0 role
#
role name level-1
 description Predefined level-1 role
#
role name level-2
 description Predefined level-2 role
#
role name level-3
 description Predefined level-3 role
#
role name level-4
 description Predefined level-4 role
#
role name level-5
 description Predefined level-5 role
#
role name level-6
 description Predefined level-6 role
#
role name level-7
 description Predefined level-7 role
#
role name level-8
 description Predefined level-8 role
#
role name level-9
 description Predefined level-9 role
#
role name level-10
 description Predefined level-10 role
#
role name level-11
 description Predefined level-11 role
#
role name level-12
 description Predefined level-12 role
#
role name level-13
 description Predefined level-13 role
#
role name level-14
 description Predefined level-14 role
#
user-group system
#
local-user kscadmin class manage
 password hash $h$6$BPriKxRFtvPIIDnf$YTa8BEbMWU+yx66Ubzyl57g74YydN8URhzrD+JCCW5YNv5mgNHTKFDXO5czrqJMxiVWEkk9EOj4qJ4v2VGuC5g==
 service-type ssh terminal
 authorization-attribute user-role network-admin
 authorization-attribute user-role network-operator
#
local-user kscop class manage
 password hash $h$6$nS1qL+8kFDDVc1M/$B/Qp7aaFB9RAqEk4thKqVDUU59WLRuZLHMz9Dm9ceMgOnT6e6xP76kl+y/6fn4A45bATTPx4PiheipjTzINujQ==
 service-type ssh terminal
 authorization-attribute user-role network-admin
 authorization-attribute user-role network-operator
#
local-user ksyunftp class manage
 password hash $h$6$/s/n8yG87HqLcbrB$Gnu49MOBj1JxEX6SgRrLJ0sZaibBthSfLR3TrxyMe4Kx9jvdjphZr84x7SOJM5y8X/JdDR0Xdqvp7Xw1B0I84Q==
 service-type ftp
 authorization-attribute user-role network-admin
 authorization-attribute user-role network-operator
#
return